.boxWrapper {
  width: 20%;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5%;
  margin: 5%;
  background-color: #00000000;
}

.boxWrapperTop,
.boxWrapperBottom {
    height: 20%;
    display: flex;
    color: #FFD700;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    gap: 10px;
}

.boxWrapperTopContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.boxWrapperTop span {
  color: #FFD700;
  font-size: x-large;
}

